@model Library.Models.Library

@{
    ViewBag.Title = "InsertBook";
}

<h2>InsertBook</h2>

<table>
    <tr class="form-group">
        <td class="control-label col-md-2" style="font-weight:bold">書名</td>
        <td class="col-md-10">
            <input class="form-control" id="BookName" type="text" value="" />
        </td>
    </tr>
    <tr class="form-group">
        <td class="control-label col-md-2" style="font-weight:bold">作者</td>
        <td class="col-md-10">
            <input class="form-control" id="BookAuthor" type="text" value="" />
        </td>
    </tr>
    <tr class="form-group">
        <td class="control-label col-md-2" style="font-weight:bold">出版商</td>
        <td class="col-md-10">
            <input class="form-control" id="BookPublish" type="text" value="" />
        </td>
    </tr>
    <tr class="form-group">
        <td class="control-label col-md-2" style="font-weight:bold">內容簡介</td>
        <td class="col-md-10">
            <textarea aclass="form-control" id="BookIntroduction" type="text" value="" rows="4" cols="50"> </textarea>
        </td>
    </tr>
</table>
